<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2>  <%= t('errors.template.header',
        :model => Order.model_name.human, :count => @order.errors.count) %>
      </h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @order.new_record? %>  
    <div class="field">
      <%= f.label I18n.t("order.status", :default => "status") %><br>
      <%= f.text_field :status %>
    </div>  
  <% end %>

  <div class="field">
    <%= f.label :payment_mode %><br>
    <%= f.select :payment_mode, allowed_payment_modes_with_translations %> 
  </div> 
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  
  
  <div class="line-items">
    <h2><%= Product.model_name.human(count: 2) %></h2>
    
    <%= f.fields_for :line_items do |builder| %>
      <%= render "line_item_fields", f: builder %>
    <% end %> 
  
    <%= link_to_add_fields t("generic.add", :default => "Add"), f, :line_items %> 
  </div>
   
  <div class="actions">
    <%= f.submit nil, class: "btn btn-info" %>
  </div>
<% end %>
