<h1>New Order</h1>

<ul>
  <li>Date: <%= @order.created_at %></li>
  <li>Status: <%= @order.status %></li>
  <li>Payment mode: <%= @order.payment_mode %></li>
  <li>Name: <%= @order.name %></li>
  <li>Last name: <%= @order.last_name %></li>
  <li>Address: <%= @order.address %></li>
  <li>City: <%= @order.city %></li>
</ul>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
    <tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.product.name %></td>
        <td><%= line_item.quantity %></td>
        <td><%= number_to_currency line_item.price %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2">TOTAL</td>
      <td><%= number_to_currency @order.total_price %></td>
    </tr>
  </tbody>
</table>
