<h1><%= I18n.t("generic.new", model: Order.model_name.human(count: 1)) %></h1>

<ul>
  <li><%= I18n.t("activerecord.attributes.order.payment_mode") %>: <%= @order.payment_mode %></li>
  <li><%= I18n.t("activerecord.attributes.order.name") %> : <%= @order.name %></li>
  <li><%= I18n.t("activerecord.attributes.order.last_name") %> : <%= @order.last_name %></li>
  <li><%= I18n.t("activerecord.attributes.order.address") %> : <%= @order.address %></li>
  <li><%= I18n.t("activerecord.attributes.order.city") %> : <%= @order.city %></li>
</ul>

<table style="border: 1px #ddd solid">
  <thead>
    <tr>
      <th><%= I18n.t("activerecord.attributes.product.name") %></th>
      <th><%= I18n.t("activerecord.attributes.line_item.quantity") %></th>
      <th><%= I18n.t("activerecord.attributes.product.price") %></th>
    <tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |line_item| %>
      <tr>
        <td><%= line_item.product.name %></td>
        <td><%= line_item.quantity %></td>
        <td><%= number_to_currency line_item.price %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="2">TOTAL</td>
      <td><%= number_to_currency @order.total_price %></td>
    </tr>
  </tbody>
</table>
