<div class="row">
  <div class="col-lg-12 well filter">
      <form action="<%= products_path %>" method="get" >
        <fieldset>
          <div class="form-group">
            <%= label_tag(:category) %>
            <input type="text" name="category" value="<%= params[:category] %>">  
          </div>
          <div class="form-group">
            <%= label_tag(:stock) %> 
            <input type="number" name="stock" value="<%= params[:stock] %>"> 
          </div>
          <div class="form-group">
            <%= label_tag(:stored_at) %> 
            <input type="date" name="stored_at" value="<%= params[:stored_at] %>">     
          </div>
          <div class="form-group">
            <%= label_tag(:manufacturer) %> 
            <input type="text" name="manufacturer" value="<%= params[:manufacturer] %>">  
          </div>
          <div class="form-group">         
            <%= label_tag(:minimun_price) %> 
            <input type="number" name="minimun_price" value="<%= params[:minimun_price] %>">
            <%= label_tag(:maximum_price) %> 
            <input type="number" name="maximum_price" value="<%= params[:maximum_price] %>">
          </div>
          <button type="submit" class="btn btn-primary">Filter</button>
      </form>
  </div>
</div>
