<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">ShopInstant</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">

      <% if current_user %>
      <ul class="nav navbar-nav">
        <li>
          <%= link_to Product.model_name.human(count: 2), products_path %>
        </li>
        <li>
          <%= link_to Order.model_name.human(count: 2), orders_path %>
        </li>
      </ul>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <%= link_to "#{t('generic.connected', default: "Connected as")} #{current_user.email}", "/" %>
          </li>
          <li>
            <%= link_to session_path(current_user), :method => :delete do %>
              <i class="glyphicon glyphicon-off"></i> <%= t("generic.close") %>
            <% end %>
          </li>
        <% else%>
          <li><%= link_to t("generic.login"), new_session_path %></li>
          <li><%= link_to t("generic.signup"), new_user_path %></li>
        <% end %>
      </ul>

    </div>
  </div>
</div>
